  h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin:0;
    padding:20px;
  }
  a {
    text-decoration: none;
  }
  ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0px;
    padding: 20px;
  }
  body {
    margin:0px;
    <div id="top">
      <input class="night_day" type="button" value="Night" onclick="
      var target = document.querySelector('body');
      if(this.value === 'Night') {
        target.style.backgroundColor ='black';
        target.style.color = 'white';
        this.value = 'Day'
      } else {
        target.style.backgroundColor ='white';
        target.style.color = 'black';
        this.value = 'Night'
      }
      ">
    </div>
  }
  #top {
    text-align: right;
    padding: 20px;
  }
  #grid {
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol {
    padding-left: 33px
  }
  #grid #article {
    padding-left: 20px;
  }
@media (max-width: 800px) {
  #grid {
    display: block;
}
ol {
  border-right: none;
}
h1 {
  font-size: 45px;
  border-bottom: none;
}
.JS{
  font-weight: bold;
}
#first{
  color: coral;
}
#second{
  font-size: 5px;
}
  span{
    color: blue;
}
